body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
/* content*/    
}
.content{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.btn{
    background: orange;
    color: white;   
    border: none;
    padding: 10px 25px;
    margin: 3rem 0;
    box-shadow:3px 1px 5px 3px #333;
}

#content{
    float:right;
    width: 20%;
    position: relative;
    bottom: 60px;
    right: 100px;
}
.highlight{
    color: orange;
}
.inside-menu{
    height: 70%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    opacity: 0.9;
    background: black;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 70px;
}
.close-btn{
    font-size: 50px;
    position: absolute;
    right: 0;
    top: 0;
}
/* header*/
header{
    height: 80px;
    background: dimgray;
    border-bottom: orange 3px solid;
    overflow: hidden;
}
header h1{
    color: white;
    padding-top: 10px;
}
header .content a:hover{
    color: orange;
}

header .content a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: block; 
    padding:20px 180px;
}
/*showcase*/
#showcase{
    min-height: 450px;
    width: 100%;

}
#showcase .pic{
    position: absolute;
    background-image: url("setup.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}    
#showcase p{
    text-align: center;
    
}
#showcase h1{
    margin-top: 200px;
    font-size: 40px;
    text-align: center;
}
/*newsletter*/
#newsletter{
    background:dimgray;
}
#newsletter h2{
    position: relative;
    top: 15px;
    color: white;
}
#newsletter form{
    float:right;
    position: relative;
    bottom: 20px;
}
/*section-A*/
#section-A .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#section-A img{
    width: 100%;
}
#section-A h2{
    text-align: center;
}
#section-A .p{
    margin-top: 40px;
}
/*section-B*/
.section-B aside{
    float:right;
    width:20%;
    background: dimgray;
    margin-top: 10px;
    padding:10px;
    box-sizing: border-box;
}
.section-B aside{
    padding-left:15px;
}
article .black{
    background:orange;
    color: whitesmoke;
}

article .dim{
    background: dimgray;
    padding: 10px;
}
.section-B article{
   float: left;
   width:75%;
   box-sizing: border-box;
   
}
/*section-C*/
#section-C .side{
    float:right;
    width: 30%;
    background: dimgray;
    margin-top: 50px;
}
.side label{
    display: block;
    font-size: 15px;
}
.side form,h3{
    padding: 10px 15px;
}
.side input,textarea{
    width: 90%;
}
#section-C #side{
    float: left;
    width:60%;
}

#side .box{
    background: grey;
    box-shadow:0 0 5px 4px orange;
    
}
#side .box h2,p{
    padding: 10px 15px;
}
/*footer*/
footer{
    background:orange;
    text-align: center;
    height: 50px;
    padding-top: 20px;
    color: white;
    font: 150px;
}
/*media quarel*/
@media(max-width:600px){
    #content{
    padding-right: 120px;
    }
    #newsletter form{
        float:none;
        padding-top: 20px;
    }
    #newsletter h2{
        text-align: center;
    }
    .btn{
        display: block;
    }
    #newsletter input{
        width: 100%;
        margin-top: 5px;
    }
    #section-A .grid{
        display:block;
    }
    .section-B aside{
        display: block;
        width: 100%;
    }
    .section-B article{
        display: block;
        width: 100%;
    }
    #section-C .side{
        display: block;
        width: 100%;
    }
    #section-C #side{
        display: block;
        width: 100%;
    }
    button{
        width: 92%;
    }

    
}
@media(max-width:768px){
    .section-B aside{
    float: left;
    width: 100%;
                
    }
}
@media(max-width:360px){
    .section-B aside{
        width: 100%;
    }
    

}
@media(max-width:411px){
    .section-B aside{
        width: 100%;
   }
}  
@media(max-width:414px){
    .section-B aside{
        width: 100%;
    }

    .section-C #house{
        float: right;
        width: 49%;
        height: 200px;
        
        
    }
    .section-C #sky{
        float: left;
        width:49%;
        height: 200px
    }     
}    



